@model ShoppingCartViewModel

<div>
    This is cart
</div>

<div>
    @foreach (var item in Model.ProductIdsInCookie)
    {
        <h3>@item</h3>
    }
</div>
<button type="submit" name="buy" value="all" class="btn btn-primary btn-large">gå vidare</button>